* {
    box-sizing: border-box;
}

html,
body,
.App,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

#root {
    overflow: hidden;
}

body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    /* background: #d4c9d4; */
    /* background: #a9b7cd; */
}

.outlineText {
    font-weight: bold;
    font-size: 16px;;
    text-shadow: 
    -1px -1px 0 #969696bb,  
     1px -1px 0 #969696bb,
    -1px  1px 0 #969696bb,
     1px  1px 0 #969696bb;
}

.annotation {
     outline: none;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
    font-weight: bold;
    padding: 2px 12px;
    color: black;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.3),
        inset 0 1px 0 rgba(255, 255, 255, 0.295);
}

.annotation-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: black;
        font-size: 14px;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.3),
        inset 0 1px 0 rgba(255, 255, 255, 0.295);
}

#testUI {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}

.stats canvas {
    transform: scale(1.3);
    transform-origin: top left;
}